body{
    background-color: rgb(40, 60, 78);}


.entete{ width: auto;
    text-align:center;
    height: 75px;
    background-color: rgb(40, 73, 182);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    
}

.link { 
    color: azure; 
    text-decoration: none;

}

.link:hover { 
    color: rgb(205, 255, 255); 
} 

.box{ width: auto;
    height: auto;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border: rgb(240, 197, 105) solid;
    border-style:outset;
}

.dbfz{width: auto; height: auto;
    }

.band{ width: 100%;height: auto;}

.bg{
    display: inline; 
    border-color: rgb(235, 193, 101);
    background-color:rgb(41, 114, 182);
    color:rgb(255, 254, 252);
    border-radius: 10px;
}

.bg:hover{
    border-color: rgb(204, 160, 64);
    background-color: rgb(82, 145, 204);
    color: rgb(255, 251, 245);

}   

.desc{margin-right: 50%;
    color: black;

}

.marge{margin-left:  10px; ;

}

.gogeta{
    position:static;
    height: auto;
    width: auto;

}